/WorkerManager/nbproject/private/
/WorkerManager/build/
/StudentManager/nbproject/private/
/StudentManager/build/
/StudentManager/dist/
/GeometryCalculator/nbproject/private/
/MatrixCalculator/nbproject/private/
/MatrixCalculator/build/
/test/nbproject/private/
/test/build/
/FruitShop/nbproject/private/
/FruitShop/build/
/EmployeeManagementSystem/nbproject/private/
/EmployeeManagementSystem/build/
